
  {{!-- <title>That page went missing — NodeSource</title>

  <link rel="stylesheet" href="/bundle.0b29e3.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600|Source+Sans+Pro:200,300,400,400i,600" rel="stylesheet">
  <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico"> --}}

<body class="page-error" data-page="error">

  <section id="content-error">
    <div class="content-container">
      <div class="copy">
        <h1>404</h1>
        <p class="explanation" id="exp1">That page went missing.</p>
        <p class="explanation" id="exp2">This can mean only one thing.</p>
        <p class="explanation" id="exp3">Aliens.</p>
      </div>
      <div class="navigation">
      <a href="/" class="logo"><img src="https://nodesource.com/assets/nodesource_identity(RGB)_horizontal_invert.svg"></a>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/login">login</a></li>
        </ul>
      </div>
    </div>
  </section>

  <div class="background-image"></div>
  <script></script>

</body>
</html>
