<div class="posts-container mt-3 mb-5 d-flex align-items-center justify-content-center">
  <form class="form-group card">
    <h2 class="m-4 text-center">Edit your post here!</h2>

    <div class="mb-4 justify-content-center d-flex align-items-center justify-content-center">
        <input id="post_name" type="text" class="form-control form-control-md" value="{{title}}">
    </div>

    <div class="d-flex align-items-center justify-content-center">

        <textarea id="post_text" class="form-control form-control-md" >{{body}}</textarea>


    </div>

    <button class="btn btn-primary m-5" id="submit-btn" type="submit" name="action">Update post!
    </button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../js/edit-post.js"></script>