<div class="mt-3 mb-5 d-flex align-items-center justify-content-center">
    <div class="">
        <div  class="card p-2" style="width: 50rem;">
            <div>
                <h2 class='color4'><span class="card-title">{{title}}
                        {{#if edited}} <span class="edited">(edited)</span>
                        {{/if}}</span></a>
                </h2>
                <hr>
                <p>{{body}}</p>
                <hr>

            <div class="">
                <p>{{user.user_name}} on {{format_date createdAt}}</p>
            </div>
            </div>


        </div>
    </div>
</div>

{{!-- <div class="row">
    <form class="col s12">
        <div class="row">

            {{#if logged_in}}
            <div class="input-field col s12">
                <textarea id="comment-text" class=""></textarea>
                <label for="comment-text">Add a comment!</label>
            </div>
        </div>
        <button id="submit-btn" class="button" type="submit">Comment
        </button>
        {{/if}}
</form>
</div> --}}
