:root {
  --primary: #89d6fb;
  --secondary: #02577a;
  --tertiary: #d4f0fc;
  --quatrinary: #6c6b67;
  --light: #ebebeb;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

.radial-bg{
  background: radial-gradient(at 0% 30% #ffffff, #b5b5ff);
}

.stacked-linear {
  background:
      linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
      linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.containerz {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

.full-nav{
  max-width: 100%;
}

.bg-color5{
  background-color: #379683;
}

.color1 {
  color: #8EE4AF;
}

.color2 {
  color: #edf5e1;
}

.color3 {
  color: #5cdb95;
}

.color4 {
  color: #907163;
}

.color5 {
  color: #379683;
}

.color6 {
  color: #1f1f1f;
}


.edited {
  color: black;
  font-size: 1rem;
  font-style: italic;
}

.login-body {
  height: 0.5vh
}